---
import BaseHead  from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

import { NOTFOUND_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="es">
<head>
  <BaseHead title={NOTFOUND_TITLE} description={SITE_DESCRIPTION}/>
</head>

<body>

  <main class="content_404">
    <h1 class="title_404">¿Qué haces?</h1>

    <a class="icon_404" href="https://walkeralfaro.com/">
      <img class="thinking_404" src="/images/404/404.webp" alt="404 image" loading="lazy" />
    </a>
    <h2>404 not found</h2>
    <Footer />
  </main>

</body>

<style lang="scss">
  @use '../styles/base/_variables.scss' as *;

  .content_404 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    h2 {
      color: $Link ;
    }
  }
  
  .title_404 {
    padding-top: 4rem;
  }

  .icon_404{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;

    .thinking_404 {
      height: 90%;
    }
  }

</style>