---
import "../styles/main.scss";
import BaseHead  from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';

import { NOTFOUND_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <BaseHead title={NOTFOUND_TITLE} description={SITE_DESCRIPTION}/>
</head>

<body>


  <main class="content_404">
    <h1 class="title_404">¿Cómo llegaste aquí?</h1>

    <a class="icon_404" href="https://walkeralfaro.com/">
      <img src="/images/404/logo-color.svg" alt="logo" loading="lazy" />
    </a>
    <img class="thinking_404" src="/images/404/404.webp" alt="404 image" loading="lazy" />
    <Footer />
  </main>





</body>

<style lang="scss">

  .content_404 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .title_404 {
    font-size: 3rem;
    padding-top: 4rem;
  }

  .icon_404 {
    height: 10%;

    img {
      height: 100%;
    }
  }

  .thinking_404 {
    height: 40%;
  }

</style>