@use '../../styles/base/variables' as *;
@use '../../styles/base/mixins' as *;

.form_container {

  .form_inputs {
    display: grid;
    grid-template-columns: 1fr;

    margin-bottom: 5rem;

    input, textarea {
      padding: 0;
      width: 100%;
      border: none;
      outline: none;
      border-radius: 1rem;

      height: 1rem;
      min-height: 5rem;

      font-family: Biryani;
      font-weight: 600;
      font-size: 2rem;
      padding: 1rem;

      &:valid {
        background-color: $Body-grey03;
      }

      &:focus {
        outline: 4px solid #609fff;
      }

      &.inputError {
        outline: 4px solid $Link;
        &:focus {
          outline: 4px solid #60aaff;
        }
      }
    }

    textarea {
      resize: none;
      height: 30rem;
    }

    .form_input {
      padding-bottom: 4rem;
      position: relative;

      label {
        font-family: Palanquin;
        font-weight: 600;
        font-size: 2rem;
      }
    }

    .form_email_subject {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
      column-gap: 1.6rem;
    }
  }

  p {
    position: absolute;

    color: $Link;
    font-family: Palanquin;
    font-size: 1.6rem;
    font-weight: 600;

    padding: 0;
    margin: .5rem 0;
  }
}

.form_actions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 5rem;
  justify-items: center;
  align-items: center;

  .form_button {

    button {
      @include button;
    }


  }

  .social_links {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    width: 18rem;

    img {
      width: 5rem;
    }
  }
}



// .toast {
//   --toastify-color-success: linear-gradient(140deg, rgba(23,33,107,1) 0%, rgba(179,35,132,0.8155637254901961) 100%);
// }