---
const today = new Date();
---
<footer>
  diseñado y desarrollado por <span>walker</span> - {today.getFullYear()}
</footer>
<style lang="scss">
  @use '../styles/base/_variables.scss' as *;
  
	footer {

    font-family: 'Geo-Regular', sans-serif;
		padding: 25px;
		text-align: center;
    margin-top: 10rem;

    span {
      color: $Link;
    }
	}
</style>