---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>

<style lang="scss">
	@use '../styles/base/_variables.scss' as *;
	a {
		color: $Body-white;
		font-family: 'Palanquin-SemiBold', sans-serif;
		font-size: 2.4rem;

		&:hover {
			color: $Link;
		}
	}

</style>