---
import HeaderLink from './HeaderLink.astro';
import gitHub_logo from '/images/social/github.svg';
import linkedIn_logo from '/images/social/linkedin.svg';
import dribbble_logo from '/images/social/dribbble.svg';
---

<header>

	<nav class="navbar">

		<HeaderLink href="/" aria-label="home">
			<svg class="header_logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 28.2">
				<path d="M31.8 0v28.2h4.8v-12h6.6v12H48V0zm4.8 4.8h6.6v6.6h-6.6zM26.4 0h-4.8v23.4h-6V0h-4.8v23.4h-6V0H0v28.2h26.4z"/>
			</svg>
		</HeaderLink>

		<input type="checkbox" id="toggler">
		<label for="toggler" class="menu_toggler">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 384">
				<path class="menu_bars" fill-rule="evenodd" d="M0 32C0 14 14 0 32 0h384c18 0 32 14 32 32s-14 32-32 32H32C14 64 0 50 0 32zm0 160c0-18 14-32 32-32h384c18 0 32 14 32 32s-14 32-32 32H32c-18 0-32-14-32-32zm448 160c0 18-14 32-32 32H32c-18 0-32-14-32-32s14-32 32-32h384c18 0 32 14 32 32z"/>
				<path class="menu_close" fill-rule="evenodd" d="M405 66c15-15 15-40 0-55s-40-15-55 0L224 138 98 11C83-4 58-4 43 11s-15 40 0 55l127 126L43 318c-15 15-15 40 0 55s40 15 55 0l126-127 126 127c15 15 40 15 55 0s15-40 0-55L278 192 405 66z"/>
			</svg>
		</label>
			
		<div class="menu">
			<div class="list nav_local_links">
			<HeaderLink href="#about">acerca de mi</HeaderLink>
			<HeaderLink href="#projects">proyectos</HeaderLink>
			<HeaderLink href="#contact">contacto</HeaderLink>
			</div>	
		</div>

		<button id="themeToggle" class="button_theme" aria-label="theme_toggle">
			<svg width="30px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
				<path class="sun" fill-rule="evenodd" d="M12 17.5a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zm0 1.5a7 7 0 1 0 0-14 7 7 0 0 0 0 14zm12-7a.8.8 0 0 1-.8.8h-2.4a.8.8 0 0 1 0-1.6h2.4a.8.8 0 0 1 .8.8zM4 12a.8.8 0 0 1-.8.8H.8a.8.8 0 0 1 0-1.6h2.5a.8.8 0 0 1 .8.8zm16.5-8.5a.8.8 0 0 1 0 1l-1.8 1.8a.8.8 0 0 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM6.3 17.7a.8.8 0 0 1 0 1l-1.7 1.8a.8.8 0 1 1-1-1l1.7-1.8a.8.8 0 0 1 1 0zM12 0a.8.8 0 0 1 .8.8v2.5a.8.8 0 0 1-1.6 0V.8A.8.8 0 0 1 12 0zm0 20a.8.8 0 0 1 .8.8v2.4a.8.8 0 0 1-1.6 0v-2.4a.8.8 0 0 1 .8-.8zM3.5 3.5a.8.8 0 0 1 1 0l1.8 1.8a.8.8 0 1 1-1 1L3.5 4.6a.8.8 0 0 1 0-1zm14.2 14.2a.8.8 0 0 1 1 0l1.8 1.7a.8.8 0 0 1-1 1l-1.8-1.7a.8.8 0 0 1 0-1z"/>
				<path class="moon" fill-rule="evenodd" d="M16.5 6A10.5 10.5 0 0 1 4.7 16.4 8.5 8.5 0 1 0 16.4 4.7l.1 1.3zm-1.7-2a9 9 0 0 1 .2 2 9 9 0 0 1-11 8.8 9.4 9.4 0 0 1-.8-.3c-.4 0-.8.3-.7.7a10 10 0 0 0 .3.8 10 10 0 0 0 9.2 6 10 10 0 0 0 4-19.2 9.7 9.7 0 0 0-.9-.3c-.3-.1-.7.3-.6.7a9 9 0 0 1 .3.8z"/>
			</svg>
		</button>

		<div class="menu">
			<div class="list av_external_links">
			<HeaderLink href="https://github.com/walkeralfaro" target="_blank">
				<img class="logo_social" src={gitHub_logo} alt="github_link"/>
			</HeaderLink>
			<HeaderLink href="https://linkedin.com/in/walkeralfaro/" target="_blank">
				<img class="logo_social" src={linkedIn_logo} alt="linkedin_link"/>
			</HeaderLink>
			<HeaderLink href="https://dribbble.com/walkeralfaro" target="_blank">
				<img class="logo_social" src={dribbble_logo} alt="dribbble_link"/>
			</HeaderLink>
			</div>	
		</div>

	</nav>

</header>

<!-- Este Scrip permite el modo Light -->
<script>
  const toggleButton = document.querySelector('#themeToggle');
  const html = document.querySelector('html');
	// Se lee el botón de tema y se le asigna la clase 'light-mode' a <html>
  toggleButton.addEventListener('click', () => {
    html.classList.toggle('light-mode');
  });
</script>

<style lang="scss">
	@use '../styles/base/_variables.scss' as *;

	.navbar {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	.header_logo {
		fill: $Body-white;
		height: 4.5rem;
	}

	.button_theme {
    border: 0;
		height: 4.5rem;
		width: 4.5rem;
    background-color: $Body-white;	
		border-radius: .8rem;
		box-shadow: 4px 4px 0px rgba(160, 160, 160, 0.7);
		cursor: pointer;

		&:hover{
			box-shadow: 6px 6px 0px rgba(140, 140, 140, 0.7);
		}
  }

	.sun { fill: $Gradient-blue; }
	
	.moon { fill: transparent; }

	.list {
		display: flex;
		gap: 2.5rem;

		.logo_social {
			width: 4.5rem;
		}
	}

	#toggler,
	.menu_toggler {
		display: none;
	}

// MEDIA QUERY ========================================================================

	@media screen and (max-width: $Tablet) {

		.navbar {
			position: relative;
		}

		.header_logo {
			height: 4rem;
			fill: $Body-white;
		}

		.button_theme {
			position: absolute;
			top: 0;
			right: 6rem;
			height: 4rem;
			width: 4rem;
			border: 0;
			border-radius: .5rem;
		}

		.menu_toggler {
			width: 4rem;
			display: inline-flex;
			cursor: pointer;
		}

		.menu_close {
			fill: transparent;
		}

		.menu_bars {
			fill: $Body-white;
		}

		.menu {
			width: 100%;
			max-height: 0;
			overflow: hidden;
		}

		.list {
			flex-direction: column;
			align-items: center;
			padding: 20px;
		}

		.av_external_links {
			margin-top: 7rem;
			flex-direction: row;
			justify-content: center;
		}

		#toggler:checked ~ .menu {
			max-height: 100%;
		}

		#toggler:checked ~ .menu_toggler {
			.menu_close {
				fill: $Body-white;
			}

			.menu_bars {
				fill: transparent;
			}
		}

	}


</style>
