---
export interface Props {
  link: string;
  title: string;
  description: string;
  image?: string;
  technologies?: string[];
}

const { link, title, description, image, technologies } = Astro.props;
const pDescription =  description.split('\n');
---
<div class="project_card">
  <a class="project_card_link" href={link} target="_blank"></a>

  <div class="project_card_image">
    <img src={image} alt="referral image of the project">
  </div>
  <div class="project_card_content">
    <h3 class="project_card_title">{title}</h3>
    <div class="project_card_description">
      {
        pDescription.map( paragraphDescription => (
          <p>{paragraphDescription}</p>
        ))
      }
    </div>
    <div class="project_card_technologies">
      {
        technologies.map(tech => (
          <div class="project_card_tech_image">
            <img src={'/images/technologies/'+tech+'.svg'} alt="applied technology" width="30"/>
          </div>
        ))
      }
    </div>
  </div>
</div>

<style lang="scss">
  @use '../styles/base/_variables.scss' as *;

  .project_card {
    position: relative;
    overflow: hidden;
    background-color: $Body-blue;
    border-radius: 1.6rem;

    max-width: 35rem;
    margin: 3rem auto;

    &:hover {
        transform: scale(1.01);
    }

    &:first-child {
      .project_card_image {
        background-color: $Body-blue02;
      }
    }

    .project_card_image {
      background-color: $Body-grey03;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 14rem;
        margin: 3rem;
      }
    }
  
    .project_card_link {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    .project_card_content {
      padding: 2.4rem;

      .project_card_title {
        font-size: 2rem;
      }

      .project_card_description {
        padding: 4rem 0;
      }

      .project_card_technologies {
        display: flex;
        flex-direction: row;
        gap: 1rem
      }
    }
  }

// MEDIA QUERIES =================================================================================

  @media (min-width: $Desktop) {

    .project_card {
      max-width: 44rem;

      .project_card_image {
        img {
          height: 16rem;
        }
      }
    }
  }

// Light Theme ======================================================================================

  .light-mode {

  }

</style>