---
import "../styles/main.scss";
export interface Props {
  title: string;
  skills: string[];
  image: string;
}

const {title, skills, image} = Astro.props;
---
<div class="skill_card">

  <h3 class="skill_card_title">{title}</h3>
  <div class="skill_card_content">
    <img class="skill_card_image" src={image}/>
    <div class="skill_card_technologies">
      {
        skills.map( skill =>  ( <p class="skill_card_technology">{skill}</p> ) )
      }
    </div>
  </div>

</div>

<style lang="scss">
  @use '../styles/base/_variables.scss' as *;

  .skill_card {
    background-color: $Body-blue;
    padding: 1.6rem 0;
    border-radius: 1.6rem;

    .skill_card_title {
      margin-left: 1.5rem;
    }

  }

  .skill_card_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;



    .skill_card_image {
      width: 9rem;
    }

    .skill_card_technologies {
      width: 18rem;
      text-align: center;

      .skill_card_technology {
        margin: .5rem 0;
      }
    }
  }

</style>
