@use 'variables' as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.dark-mode {
  color: red;
}

h1 {
  font-family: 'Sora';
  font-weight: 600;
  font-size: 4rem;
}

h2 {
  font-family: 'Palanquin';
  font-weight: 00;
  font-size: 3rem;
}

a {
  text-decoration: none;
}

body {
	font-family: 'Biryani', sans-serif;
  font-weight: 300;
  font-size: 1.6rem;

	margin: auto;
	padding: 20px;
	max-width: 65ch;

	text-align: left;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
}

