@use 'variables' as *;

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $Body-white;
  font-family: 'Biryani', sans-serif;
  font-weight: 200;
  font-size: 1.6rem;

  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;

  background-image:  linear-gradient($Background-line 1.1px, transparent 1.1px), 
  linear-gradient(to right, $Background-line 1.1px, $Background 1.1px);
  background-size: 24px 24px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Sora';
  font-weight: 600;
  font-size: 4rem;
}

h2 {
  font-family: 'Palanquin';
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-family: 'Palanquin';
}

a {
  text-decoration: none;
}

.light-mode {

  body {
    color: $Body-blue;
    background-image:  linear-gradient($Background-line-Light 1.1px, transparent 1.1px), 
    linear-gradient(to right, $Background-line-Light 1.1px, $Background-Light 1.1px);
  }
}

@media (min-width: $Desktop) {
  Body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
