@use 'variables' as *;

// Resize font size to get rem equal 10px
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $Body-white;
  font-family: 'Biryani-ExtraLight', sans-serif;
  font-size: 1.6rem;

  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;

  background-image:  linear-gradient($Background-line 1.1px, transparent 1.1px), 
  linear-gradient(to right, $Background-line 1.1px, $Background 1.1px);
  background-size: 24px 24px;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Sora-SemiBold', sans-serif;
  font-size: 3.8rem;
}

h2 {
  font-family: 'Palanquin-Regular', sans-serif;
  font-weight: 400;
  font-size: 3rem;
  text-align: center;
}

h3 {
  font-family: 'Palanquin-SemiBold', sans-serif;
}

a {
  text-decoration: none;
  color: $Link;

  &:hover {
    color: $Link;
  }
}

img {
  max-width: 50rem;
}

@media (min-width: $Desktop) {
  Body {
    font-size: 2.2rem;
  }

  h1 {
    font-size: 6.4rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
