@use 'variables' as *;
@use 'mixins' as *;

// Tema Light o luminoso, ya que la página por defecto carga en modo nocturno
// Esta clase se agrega a la etiqueta <html>
// Para que haga efecto la especifidad debe ser igual o mayor a la especifidad en modo nocturno
.light-mode {

  body {
    color: $Body-blue;
    background-image:  linear-gradient($Background-line-Light 1.1px, transparent 1.1px), 
    linear-gradient(to right, $Background-line-Light 1.1px, $Background-Light 1.1px);
  }

  .hero_header {
    background: $Body-white;
    border-bottom: 4px dashed $Body-blue;

    // Botón de cambio de tema ==========================================
    .button_theme {
      background-color: $Gradient-blue;
      padding-bottom: .3rem;
    }
    // el path svg - icono de sol se apaga
    .sun { fill: transparent; }
    
    // el path svg - icono de la luna se activa
    .moon { fill: $Body-white; }

    // Botón de menú =====================================================
    // el path svg - icono de close de menú apagada
    .menu_close {
			fill: transparent;
		}

    // el path svg - icono de barras de menú activada en modo luminoso
		.menu_bars {
      fill: $Body-blue;
		}
    
    #toggler:checked ~ .menu_toggler {
			.menu_close {
				fill: $Body-blue;
			}

			.menu_bars {
				fill: transparent;
			}
		}

    // los links del navbar en modo luminoso ===============================
    .nav_local_links {
      a {
        color: $Body-blue;
        &:hover {
          color: $Link;
        }
      }
    }

    .header_logo {
      fill: $Body-blue;
    }
  }

  .about {
    .about_text {
      background-color: $Body-white;
    }
  }

  .skills {
    .skill_card {
      background-color: $Body-white;
    }
  }

  .projects {
    .project_card {
      background-color: $Body-white;

      &:nth-child(2) .project_card_image {
        background-color: $Body-grey02;
      }
    }
  }

}