@use 'variables' as *;

@mixin button {

  width: 18rem;
  height: 6rem;
  border: none;
  border-radius: 1rem;
  font-family: Palanquin;
  font-size: 3.2rem;
  font-weight: 600;
  color: $Body-white;
  background-color: $Link;
  padding-bottom: .8rem;
  text-align:center;
  cursor: pointer;

  box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.5);
  transition: box-shadow .1s ease;

  &:hover {
    background-color: $Link-hover;
    box-shadow: 7px 7px 0px rgba(255, 255, 255, 0.6);
  }

}