// Colors:
// Background:
$Background: hsl(231, 100%, 8%);
$Background-line: hsl(225, 64%, 12%);

// Background Light:
$Background-Light: hsl(0, 0%, 87%);
$Background-line-Light: hsl(0, 0%, 80%);

// Gradient:
$Gradient-blue: hsl(223, 81%, 31%);
$Gradient-purple:hsl(285, 98%, 36%);

// Neutral:
$Body-black: hsl(0, 0%, 0%);
$Body-blue: hsl(229, 41%, 16%);
$Body-blue02: hsl(220, 25%, 47%);
$Body-grey01: hsl(0, 0%, 40%);
$Body-grey02: hsl(0, 0%, 60%);
$Body-grey03: hsl(0, 0%, 87%);
$Body-white: hsl(0, 0%, 100%);

// Link:
$Link: hsl(320, 77%, 51%);
$Link-hover: hsl(320, 77%, 45%);

// Screen sizes
$Desktop: 1200px;
$Tablet: 800px;
$Mobile: 375px;


@font-face {
  font-family: 'Biryani-ExtraLight';
  src: url('/fonts/Biryani-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Biryani-Light';
  src: url('/fonts/Biryani-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geo-Regular';
  src: url('/fonts/Geo-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palanquin-Regular';
  src: url('/fonts/Palanquin-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palanquin-SemiBold';
  src: url('/fonts/Palanquin-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora-SemiBold';
  src: url('/fonts/Sora-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}